<p>
    Send the survey results before moving on the next Page <strong>default is false.</strong>
    <p>
    If you have a long survey, many your users may not finish the survey and enter the data on few pagers on only the first one. If you still want to save the information from incompleted surveys, set this property to true. The clientId property should bet set correctly, otherwise the data of others users may be ovewritten.
    </p>
<pre><code class="language-javascript">survey.sendResultOnPageNext = yourvalue;</code></pre>
</p>