<div>HTML</div>
<pre><code class="content-html language-html">{{ content_html + '</script>' | replace:'/*<![CDATA[*/','' | replace:'/*]]>*/','' | escape }}</code></pre>

<div>JavsScript</div>
<pre><code class="content-js language-javascript">{{ content_js + '</script>' | replace:'/*<![CDATA[*/','' | replace:'/*]]>*/','' | escape }}</code></pre>

<div>CSS</div>
<pre><code class="content-css language-css">{{ content_css + '</script>' | replace:'/*<![CDATA[*/','' | replace:'/*]]>*/','' | escape }}</code></pre>