---
layout: default
pathprefix: ../
mainmenukey: examples
---

<div class="examples-wrapper">
    {% include menu-examples.html %}
  
    <div class="examplecontent wrapper wrapper-content">
        <div class="row">
            <div {% if page.propertiesFile %}class="col-md-8"{%else%}class="col-md-12"{%endif%}>
                <h3 class="contenttitle">{{ page.title }}</h3>

                <div>
                    <button onclick="restartIFrame()">Rerun Survey</button>
                </div>
                
                <div class="survey-container">
                    <iframe src="./content" class="display-example-iframe" frameborder="0" width="100%" onload="onLoadIFrame(this)"></iframe>
                </div>

                <div class="row source-code-container">
                    {% if page.title != 'Live examples' %}
                        {% include platform-selector.html %}
                    {% endif %}
                    {{ content }}
                </div>
            </div>
            {% if page.propertiesFile %}
            <div class="col-md-4 exampleoptions">
                {% include {{page.propertiesFile}} %}
            </div>
            {% endif %}
        </div>
    </div>

    <script>
        function onLoadIFrame(iframe) {
            var frameContent = iframe.contentWindow;
            window.survey = frameContent.survey;
            iframe.height = frameContent.document.body.offsetHeight + "px";
        }

        function restartIFrame() {
            var iframe = document.querySelector('.display-example-iframe');
            iframe.src = iframe.src;
        }
    </script>
</div>
