---
layout: default
pathprefix: ../
mainmenukey: examples
---

<div class="examples-wrapper">
    {% include menu-examples.html %}
  
    <div class="examplecontent wrapper wrapper-content">
        <div class="row">
            <h3 class="contenttitle">{{ page.title }}</h3>

            {% if page.title != 'Live examples' %}
            {% include platform-selector.html %}
            {% endif %}

            <div {% if page.propertiesFile %}class="col-md-8"{%else%}class="col-md-12"{%endif%}>
                <div>
                    {% if page.url contains 'service-oneperuser' %}
                    {% else %}
                    <button onclick="restartIFrame()">Rerun Survey</button>
                    {% endif %}
                    <button onclick="editInPlunker()">Edit in Plunker</button>
                </div>

                <form id="plnkrForm" style="display:none" method="post" action="https://plnkr.co/edit/?p=preview" target="_blank'">
                    <input type="hidden" name="tags[0]" value="surveyjs">
                    <input type="hidden" name="private" value="true">
                    <input type="hidden" name="description" value="surveyjs example">
                </form>
                
                <div class="survey-container">
                    <iframe src="./content" class="display-example-iframe" frameborder="0" width="100%" onload="onLoadIFrame(this)" style="min-height: 100px;"></iframe>
                </div>

                <div class="row source-code-container">
                    {{ content }}
                </div>
            </div>
            {% if page.propertiesFile %}
            <div class="col-md-4 exampleoptions">
                {% include {{page.propertiesFile}} %}
            </div>
            {% endif %}
        </div>
    </div>

    <script>
        function onLoadIFrame(iframe) {
            var frameContent = iframe.contentWindow;
            window.survey = frameContent.survey;
            iframe.height = frameContent.document.body.offsetHeight + "px";
        }

        function restartIFrame() {
            var iframe = document.querySelector('.display-example-iframe');
            iframe.src = iframe.src;
        }

        function editInPlunker() {
            var form = document.querySelector("#plnkrForm");
            var htmlContent = document.querySelector(".content-html");
            var jsContent = document.querySelector(".content-js");
            var cssContent = document.querySelector(".content-css");

            var files = [
                { name: 'index.html', value: htmlContent.textContent },
                { name: 'index.js', value: jsContent.textContent },
                { name: 'index.css', value: cssContent.textContent }
            ];

            function addInput(file) {
                var input = document.createElement("input");
                input.setAttribute("type", "hidden");
                input.setAttribute("name", "files[" + file.name + "]");
                input.setAttribute("value", file.value);
                form.appendChild(input);
            }
            
            for (var i = 0; i < files.length; i++) {
                addInput(files[i]);
            }

            form.submit();
        }
    </script>
</div>
